<!DOCTYPE html>
	<head th:replace="~{base :: head }"></head>
	<title>Pedidos</title>
	<body>
		<div th:replace="~{base:: logo}"></div>
		<div class="container">
			<div th:replace="~{base::jumbo}"></div>
			<nav class="navbar navbar-expand-lg navbar-ligth bg-ligth d-flex justify-content-between">
				<div class="navbar-nav">
					<a th:classappend="${status} == null ? 'active'" class="nav-item nav-link" href="/home">Todos</a>
					<a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-item nav-link" href="/home/aguardando">Aguardando</a>
					<a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-item nav-link" href="/home/aprovado">Aprovados</a>
					<a th:classappend="${status} == 'entregue' ? 'active'" class="nav-item nav-link" href="/home/entregue">Entregues</a>
				</div>
				<a href="/pedido/formulario"><button class= "btn btn-outline-secondary my-2 my-sm-0">Novo</button></a>
			</nav>	
			
		<div class="card" th:each="pedido: ${pedidos}">
			<th:block th:switch="${pedido.status.name()}">
				<div th:case="'AGUARDANDO'"  class="shadow-sm p-3 mb-5  rounded alert alert-warning" th:text="${pedido.nomeProduto}">Nome do Produto</div>
				<div th:case="'APROVADO'"  class="shadow-sm p-3 mb-5  rounded alert alert-success" th:text="${pedido.nomeProduto}">Nome do Produto</div>
				<div th:case="'ENTREGUE'"  class="shadow-sm p-3 mb-5  rounded alert alert-dark" th:text="${pedido.nomeProduto}">Nome do Produto</div>
			
				
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">
						<div class="row">
							<div class="col-md-4">Valor: <span th:if="${pedido.valorNegociado} != null" th:text="${'R$' + #numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}">299,00</span></div>
							<div class="col-md-6">Data de entrega: <span th:text="${#temporals.format(pedido.dataDaEntrega, 'dd/MM/yyyy')}">10/02/2021</span></div>
						</div>
						<div>Produto:</div>
						<div><input class="form-control" th:value="${pedido.urlProduto}" value="url do produto"/></div>
							
						<div>Descricao:</div>
						<div><textarea class="form-control" th:text="${pedido.descricao}">Descricao do produto</textarea></div>
					</div>
					
					<div class="col-12 col-sm-4">
						<div>
							<img th:src="${pedido.urlImagem}" class="a-dynamic-image border border-success rounded" style="max-height: 307px; max-width: 258px;" data-a-manual-replacement="true"/>
						</div>
					</div>
				</div>	
			</div>
		</div>	
	</body>
</html>